<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unlock NYC - {{ pageTitle }}</title>
    <link rel="stylesheet" href="{{ linkedCSS }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/910fe5b89c.js" crossorigin="anonymous"></script>
  </head>
  <body>
  
  <div id="page">
    <section id="top" class="full">
      <div id="crowd-friends"></div>
      <div id="key-friend" role="img" aria-label="A woman reaches for a key"></div>
      <div id="top-bg" role="img" aria-label="Friendly colorful figures looking out from NYC windows, a woman waters her plants, a parent with her child">
        <div id="top-figures"></div>
      </div>
      <div id="titles">
        <h1 class="home-title">Unlock NYC</h1>
        <h2 class="home-subtitle">Tools for a fair housing search</h2>
        <br>
        <h2 class="home-info">Do landlords keep saying "no" to your voucher? Use our tools to record it and report it – right from your phone.</h2>
      </div>
    </section>
    {% include menu.liquid %}
    <section id="stories">
      <div class="story-slider" id="slider">
        <div class="control_next"><i class="fal fa-angle-right"></i></div>
        <div class="control_prev"><i class="fal fa-angle-left"></i></div>
        <ul>
        {% for slide in collections.slides %}
        <li>
          <img class="storyline" src="{{ slide.data.bg_img }}" alt="{{ slide.data.alt_text}}">
          <div class="slide-text">
          {{ slide.data.content }}
          </div>
        </li>
        {% endfor %}
        </ul>
      </div>
    </section>
    <section id="info" style="height: auto;">
    {% include home-info.liquid %}
    </section>
    <section id="report-bot" class="half">
      <div id="coming-soon">
        <h1>Coming Soon</h1>
        <h2 class="banner-text">We think it should be quick and easy to report shady landlord behavior, every time. 
        And, we think you deserve to know what happens to your report. That’s why we’re building free tools that will allow you to record your phone calls to 
        apartments you’re interested in, and report discriminatory incidents. Stay tuned for more details!</h2>
    </section>
    <section id="join-us" class="half">
      <h1>Sign up for Updates</h1>
      <h2 class="banner-text">Are you interested in receiving tips on how to use your voucher in NYC and fight back against discrimination? Do you want to know when we launch new tools? 
      Join us by sharing your email here.</h2>
      <form id="join-email" action='https://unlock-nyc-servers.glitch.me/join-email' method='post'>
        <input type="email" name="email" required placeholder="your@email.com">
        <label for="email" style="display:none;">E-mail address</label>
        <input type="submit" value="Join">
      </form>
      <div id="join-activist">
      </div>
    </section>
    <section id="windows" style="height: 80vh;" role="img" aria-label="Friendly colorful figures looking out from NYC windows, a man with his cat, a woman writing">
      <div id="windows-figures"></div>
      <!--<div id="windows-animated"></div>-->
    </section>
  </div>
  
  {% include footer.liquid %}
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
  <script src="/scripts/slider.js"></script> 
  <script>
    $(document).ready(function() {
    
      slideTextCheck();
      
      if($(window).width() > 700) {
        // sticky menu
        $(window).scroll(function() {
          let windowHeight = $(window).height() - 72;
          if ($(window).scrollTop() > windowHeight) {
            $("#menu").addClass("sticky");
          } else {
            $("#menu").removeClass("sticky");
          }
        }) // end scroll function
      }
                  
      function slideTextCheck() {
        $("#slider div.slide-text").each(function() {
            let slideTitle = $(this).children("h1").height();
            if ($(window).width() > 900) {
              let lineHeight = $(window).width() * .06;
              if (slideTitle > 3*lineHeight) {
                $(this).addClass("longtitle");
              }
            }
            if ($(window).width() < 900) {
              $(this).parent("li").children("img.storyline").css("top", 10);
            }
        });
      }
      
      // form action
      $('#join-email').submit(function(e){
        e.preventDefault();
        $.ajax({
          url: 'https://unlock-nyc-servers.glitch.me/join-email',
          type: 'post',
          data:$('#join-email').serialize(),
          success:function(){
            console.log('submitted form');
            $("form#join-email input[type='submit']").attr("value", "Thank You");
          }
        });
      });
    });
  </script>
  </body>
  
</html>